




.day-night{
	float: inline-end;
	position:fixed;
	right:0;
	margin-right: 1%;
	top:80px;
	padding:15px ;
	width: 25px;
	height: 25px;;
	border: 1px solid var(--background-color);
	background: var(--secundary-color);
	z-index: -1;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.day-night .s-icon
{   
	
    position:absolute;
	height:40px;
	width:40px;
	text-align: center;
	font-size: 25px;
	background:var(--background-color);
	color: var(--background-color);
	right:100%;
	border: 1px solid var(--contato-color);
	margin-right:15%;
	cursor:pointer;
	transition: all 0.3s ease;
	border-radius: 50%;
}
.day-night i{
	position:absolute;
	margin-top:-5px;
	margin-left:-15%;
	color:var(--background-color);
	
	
}
.day-night  .s-icon i{
	line-height: 40px;
	

    
}
.day-night .day-night-toggler{
	top: 0;
}
.day-night:hover{
	
	/*width: 35px;
	height: 35px;*/
	
	box-shadow: var(--primary-color) 0px 0px 12px;
}

/* responsividade dekstop */
@media only screen and (min-width: 1200px) {

	.day-night{
		
		
		
		right:0px;
		margin-right: 7%;
		top:20px;
		
	}
	
}	

@media screen and (min-width: 768px) and (max-width:960px){

	.day-night{
		position:fixed;
		margin-top: 20px;
		right: 75px; 
		top: 40px;  /****/
		
   }
}


 /*responsividade celulares maiores */
 @media  screen and (min-width: 360px) and (max-width:600px){

   

	.day-night{
		right: 0px;
		margin-top:740px;
	}
}
/* responsividade celulares s8 e iphone se */
@media only screen and (min-device-width: 374px) and (max-device-width:400px) and (min-device-height:400px) and (max-device-height:668px){


	

	.day-night{
		
		margin-top:695px;
		right:0px;
	}
}
@media only screen and (min-device-width: 360px) and (max-device-width:400px) and (min-device-height:660px) and (max-device-height:920px){


	

	.day-night{
		
		margin-top:695px;
		right:0px;
	}
}
/*--*/


/* responsividade celulares (varios) iphone /6/7/8  */

@media screen and (min-width: 360px) and (max-width:400px) {


	

	.day-night{
		
		margin-top:540px;
		right:0px;
	}
}

/*--*/

/*--iphone x */
@media screen and (min-width: 360px) and (max-width:400px) and (min-height:800px) and (max-height:812px){


	

	.day-night{
		
		margin-top:695px;
		right:0px;
	}
}


/* responsividade celulares (varios) iphone x/6/7/8 PLUS  */

@media screen and (min-width: 360px) and (max-width:480px) and (min-height:668px) and (max-height:800px){


	

	.day-night{
		
		margin-top:618px;
		right:0px;
	}
}

/*--*/


/* responsividade celulares menores */
@media screen and (min-width: 240px) and (max-width:360px){


	

	.day-night{
		
		margin-top:450px;
		right:0px;
	}
}

/* s8, s8+ */
@media only screen and (min-device-width: 240px) and (max-device-width:360px) and (min-device-height:600px) and (max-device-height:740px){


	

	.day-night{
		
		margin-top:622px;
		right:0px;
	}
}

/* g4,s3, */
@media only screen and (min-device-width: 240px) and (max-device-width:360px) and (min-device-height:600px) and (max-device-height:640px){


	

	.day-night{
		
		margin-top:522px;
		right:0px;
	}
}

/*--*/

/* galaxy fold*/
@media screen and (min-width: 240px) and (max-width:280px){


	

	.day-night{
		
		margin-top:530px;
		right:14px;
	}
}
 
