@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

/* comeco estilizacao geral */

body.dark{
	--background-color: white; /* variavel para usar nas alteracoes */
	--primary-color:crimson;
	--secundary-color:black;
	--contato-color:white;
	--contato-boxshadow:#0000002c;
	--sobre-paragrafo:rgb(93, 90, 90);
	--certificado-color:crimson;
}

:root {
	--background-color: black; /* variaveis para  alteracao de cores */
	--primary-color:#5ee543;
	--secundary-color:white;
	--contato-color: rgba(5, 4, 4, 0.24);
	--contato-boxshadow:white;
	--sobre-paragrafo:rgb(255, 255, 255);
	--certificado-color:#006400;
}


/*.form-switch{
	-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);

        transform: rotate(90deg);
	border: var(--primary-color); 
	color: var(--primary-color);
	margin-right:25px;
	margin-top: 2px;
	float:right;
}*/

#header  a h1:hover{
	transform: rotate(360deg);   /*--hover-rotacao-logo---*/
	transition: transform .6s;
	width:100px;
	height:45px;
}
#header .nav-list  ul .form-switch{
	border: var(--primary-color); 
	color: var(--primary-color);
	margin-left: auto;
	margin-top: -2px;
	
}
#header .nav-list ul .form-switch:hover{
 color:var(--primary-color) ;
	
}

#header .nav-list ul .form-check-input i {
	color:var(--primary-color) ;
}

* {      
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	
	font-size: 10px;
	font-family: 'Montserrat',sans-serif;
	scroll-behavior: smooth;

	
}

   
h1 {
	font-family: 'Montserrat',sans-serif;
}
a {
	text-decoration:var(--primary-color);
}
.container {
	
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-style: oblique;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
/* background dark-mode--*/
#projeto {
	background-color: var(--background-color);

}
#sobre {
	background-color: var(--background-color);
	
}
#contato{
	background-color: var(--background-color);
}	
/*fim-dark-mode*/


.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color:var(--primary-color);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid var(--primary-color);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: var(--primary-color);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: var(--primary-color);
}




/* fim da estilizacao geral */

/* sessao do cabecalho*/
#header {

	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: var(--primary-color);
	font-size: 17px;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* fim da sessao do cabecalho*/

/* sessao principal */
#principal {
	
	background-image: url(./img/img-fundo.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}





#principal::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#principal .principal {
	
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#principal h1 {
	
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#principal h1:nth-child(1) {
	animation-delay: 1s;       /* delay ,tempo de animacao h1 */
}
#principal h1:nth-child(2) {
	animation-delay: 2s;
}
#principal h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards; /* animacao de revelacao do texto(nome) */
	animation-delay: 3s;
}
#principal h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--primary-color);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#principal h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#principal h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#principal h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/*----icones sociais inicio */
#principal .social-inicio{
	
	margin-top:-40px;
    padding: 10px 10px 10px 10px;
	margin-left: 10px;
}
#principal .social-inicio ul li {
	flex-direction:column;
	list-style: none;
	position:relative;
	margin-left: auto;
	margin-top: 10px;
	display: inline;                          

}
#principal .social-inicio ul li a i {
	
	font-size: x-large;
	margin-left: auto;
	position: relative;
	flex-direction:column;
	color: var(--primary-color);
	width: 55px;
	
}
#principal .social-inicio ul li a i:hover {
	font-size: xx-large;
	margin-left: auto;
	position: relative;
	flex-direction:column;
	color: var(--primary-color);
	width: 55px;
	
	
}
 /*------------------*/

/* fim sessao principal */



/* sessao projetos */
#projeto .section-title{
	color:var(--secundary-color)
}
#projeto .projeto {
	
	flex-direction: column;
	max-width: 1200px;
	
	margin: 0 auto;
	padding: 100px 0;
}
#projeto .projeto-header h1 {
	margin-top: 5%;
	margin-bottom: 50px;
}
#projeto .todos-projeto {
	margin-top:1%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projeto .projeto-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projeto .projeto-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color:white;
}
#projeto .projeto-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projeto .projeto-info h2 {
	color:white;
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projeto .projeto-info p {
	color: white;
}
#projeto .projeto-img {
	
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projeto .projeto-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.1;
}
#projeto .projeto-img img {
	
	transition: 0.3s ease transform;
}
#projeto .projeto-item:hover .projeto-img img {
	transform: scale(1.1);
}

#projeto .projeto-info a:hover {
	font-size:110%;
}

/* fim da sessao projetos */

/* sessao sobre */
#sobre .section-title,h2,p{
	color:var(--secundary-color);   /*--dark-mode config--*/
}

#sobre .sobre {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#sobre .col-left {
	width: 250px;
	height: 360px;
}
#sobre .col-right {
	width: 100%;
}
#sobre .col-right p a{
	color:var(--primary-color)
}
#sobre .col-right p a:hover{
	font-size: 110%;
	
}
#sobre .col-right h2 {

	font-size: x-large 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#sobre .col-right p {
	color: var(--sobre-paragrafo);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:large;
	margin-bottom: 20px;
}

#sobre .col-right .cta {
	color:var(--secundary-color);
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}


#sobre .col-left .sobre-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
	z-index:1;
}
#sobre .col-left .sobre-img:hover {
    width:102%;
	height:102%;
	z-index: 1;
}
#sobre .col-left .sobre-img::after {
	
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid var(--primary-color);
	z-index: -1;
}
#sobre .col-rigth select{
	align-items: center;
	
	
}
#sobre .span-cursos span{
	color:rgba(3, 141, 3, 0.59);
	font-style:normal;
	font-size: large;
}
#sobre .span-facul span{
	color:blue;
	font-style:normal;
	font-size:large;
}
/* fim da sessao sobre */

/* sessao formacao*/
#formacao{
	background-color: var(--background-color);
}
#formacao .container-fluid{
	width: 50%;
	max-width: 100%;
	background-color: var(--background-color);
	flex-direction: column;
	text-align: center;
	display: flex;
    align-content: center;
}
#formacao h1{
	align-content: center;
	text-align: center;
	margin-top: 15%;
	padding: 0 10px 40px 10px;
	color:var(--secundary-color)
}
#formacao h2{
	align-content: center;
	text-align: center;
	padding:0 0px 15px;
}

#formacao .carousel-inner{
	margin-left: 5%;
	
	width: 90%;
	align-items: center;
	
	align-content: center;
}
#formacao .carousel-inner p{
	font-weight: 800;
	font-size: large;
	font-style: normal;
	font-family: 'Times New Roman', Times, serif;
   color:var(--certificado-color);
}	
.carousel-control-prev-icon{
	
	color: var(--background-color);
	
	
}
.carousel-control-next-icon{
	
    
	color:var(--background-color)
   
}
 
/* fim formacao*/


/* sessao contato */
#contato h1{
	
	align-items: center;
	align-content: center;
}
#contato .contato-items{
	background-color:var(--contato-color);
}
#contato .section-title{
	padding: 0px 0px 60px 0px;
}
#contato .section-title,h1{ 
	                             
	/*--dark-mode configs--*/
	color:var(--secundary-color);
}
#contato .contato {
	
	flex-direction:column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
#contato .contato-items {
	/* max-width: 400px; */
	width: 100%;
	
	
}
#contato .contato-item {
	
	width: 85%;                        /*--*/
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display:grid;                     /*----*/
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 8px 0 var(--contato-boxshadow);
	transition: 0.3s ease box-shadow;
}
#contato .contato-item .control-label{
	color:var(--secundary-color)
}
#contato .contato-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contato .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contato .contato-item .icon:hover {
	width: 95px;
	
}
#contato .contato-item .contato-info h1{
	text-align: center;
}
#contato .contato-info h1{
	
	margin-left: 0%;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contato .contato-info h2 {
	text-align: center;
	margin-left: 0%;
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
#contato .contato-info h2:hover {
	text-align: center;
	text-shadow: 1px 1px 1px var(--primary-color);
	font-size: 140%;
}
#contato .contato-item button:hover {
	background-color: var(--primary-color);
}
#contato .contato-item button{
	
	border-radius: 0%;
	border:2px solid var(--primary-color);
	transform: scale(1);
    width: 100%;
	margin-top: 10%;
	text-align: center;
	color:black;
	background-color:white;
}
#contato .contato-item  .form-control{
	
	margin: 5px 10px;
	width: 256px;
	display: flex;
	flex-direction: column;
	
}

	
/*fim da sessao contato */

/* Footer(rodape) */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
	width:60px
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
#footer  h1:hover{
	transform: rotate(360deg);   /*--hover-rotacao-logo---*/
	transition: transform .6s;
	width:280px;
	height:35px;
}
/* fim Footer */

/* Keyframes */            /* regras para a animacao */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--primary-color);
		font-weight: 500;
	}
}
/* End Keyframes */


	

/* fim Media Query para celulares */

/* Media Query para Tablet */                 /* -------------comeco das responsividades------------- */
@media only screen and (min-width: 768px) {

	

	
	.mudaCor{
		 
		font-size:120%;
		font-style: italic;
		color:grey;
		position:fixed;            /* botao alteraCores */
		margin-left: 84%; /* important */
		margin-top:0%;
		border-radius: 1px solid grey;
	}
	
	
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* principal */
	#principal h1 {
		font-size: 7rem;
	}
	/* fim principal */

	/* Projeto */
	#projeto .projeto-item {
		flex-direction: row;
	}
	#projeto .projeto-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projeto .projeto-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projeto .todos-projeto .projeto-info {
		height: 100%;
	}
	#projeto .todos-projeto .projeto-img {
		height: 100%;
	}
	/* fim Projeto */

	/* sobre */
	#sobre .sobre {
		flex-direction: row;
	}
	#sobre .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#sobre .sobre .col-left .sobre-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid var(--primary-color);
	}
	#sobre .col-right {
		text-align: left;
		padding: 30px;
	}
	#sobre .col-right h1 {
		text-align: left;
	}
	/* fim sobre */

	/* contato  */
	#contato .contato {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contato .contato-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contato .contato-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contato .contato-item .icon {
		height: 100px;
		width: 100px;
	}
	#contato .contato-item .icon img {
		object-fit: contain;
	}
	#contato .contato-item .contato-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	#contato .contato-item  .form-control{
		width: 190px;
		
	}
    

	#contato .contato-info h1 {
		margin-left: 20%;
		font-size: 2.5rem;
		font-weight: 500;
		margin-bottom: 5px;
	}
	#contato .contato-info h2 {
		margin-top: 5%;
		margin-left: 15%;
		font-size: 1.3rem;
		line-height: 2rem;
		font-weight: 500;
	}
	#contato .contato-item button:hover {
		background-color: var(--primary-color);
	}
	#contato .contato-item button{
		font-style: italic;
		font-size:small;
		margin-left: 115%;
		border-radius: 0%;
		border:2px solid var(--primary-color);
		transform: scale(1);
		width: 100%;
		margin-top: 10%;
		text-align: center;
		color:black;
		background-color:white;
	}
	#contato .contato-item  .form-control{
		
		margin: 5px 10px;
		width: 256px;
		display: flex;
		flex-direction: column;
		
	}
	/* fim contato  */
}
/* fim Media Query para Tablet ------------------------------------------------------*/


/* media queries aparelhos menores ---------------------------------------------------*/

@media only screen and (min-width: 120px){

	

	.form-switch{
		-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);

        transform: rotate(90deg);
		border: var(--primary-color); 
		color: var(--secundary-color);
		margin-right:-9px;
		margin-top: 16px;
		float:right;
	}
}

/* fim media aparelhos menores */


/* Media Query para Desktop ---------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
	/* header */

    
    

    /*.form-switch {

		
		-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
		border: var(--primary-color); 
		color: var(--secundary-color);                    
		margin-right:120px;
		margin-top: -30px;
		float:right;
	} */
     
	#principal .social-inicio{
	
		margin-top:-50px;
		padding: 10px 10px 10px 10px;
		margin-left: 410px;
	}

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* fim header */

	

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
	#contato .contato-item  .form-control{
		width: 190px;
		
	}
	#contato .contato-info h1{
	
		margin-left: 0%;
		font-size: 2.5rem;
		font-weight: 500;
		margin-bottom: 5px;
	}
	#contato .contato-info h2 {
		
		margin-left: 0%;
		font-size: 1.3rem;
		line-height: 2rem;
		font-weight: 500;
	}
	#contato .contato-info h2:hover {
		text-shadow: 1px 1px 1px var(--primary-color);
		font-size: 140%;
	}
	#contato .contato-item button:hover {
		background-color: var(--primary-color);
	}
	#contato .contato-info h2{
		margin-top:20px;
	  }
}
/* fim  Media Query para Desktop ---------------------------------------------------------------*/



/* responsividades elementos gerais-celulares---------------------------------------------------- */

@media  screen and (min-width: 360px) and (max-width:600px){

	#contato .contato-item button{
		max-width:30%;   /*--*/
}
#contato .contato-item .form-control{
	max-width:60%;
	margin-left: 20%;   /*--*/
}


#sobre .col-right h2 {

	font-size: x-large 1.8rem ;
}
#sobre .col-right p {

	font-size:medium;
}
#formacao .container-fluid{
	width: 100%;
	max-width: 100%;
	background-color: var(--background-color);
	flex-direction: column;
	text-align: center;
	display: flex;
    align-content: center;
}
#formacao h1{
	margin-top: 25%;
	padding: 0 10px 20px 10px;
	color:var(--secundary-color)
   }
   #contato h1{
	margin-top: 40%;
   }
   #contato h1{
	margin-top: 40%;
   }
   #contato .contato-item .icon{
	margin-top:70px;
   }
   #contato .form-group{
	margin-top: 20px;
   }
   #contato .contato-info h2{
	 margin-top:10px;
   }
}

@media  screen and (min-width: 400px) and (max-width:600px){
    #projeto .projeto-item {
		border:50%;
		width:280px;
		padding: 0 0px 0px;
		
	}
	
	#projeto .projeto-img img {
		height: 200px;
		border:50%;
	}
	#projeto .todos-projeto{
		padding: 0 0px 0px;
	}
	#principal .social-inicio{
	
		margin-top:-100px;
		padding: 10px 10px 10px 10px;
		margin-left: 10px;
	}
	#sobre .col-right h2 {

		font-size: x-large 1.8rem;
	}
	#sobre .col-right p {

		font-size: medium ;
	}
	/* sessao formacao*/
	
   #formacao .container-fluid{
	width: 100%;
	max-width: 100%;
	background-color: var(--background-color);
	flex-direction: column;
	text-align: center;
	display: flex;
    align-content: center;
   }
   #formacao h1{
	
	margin-top: 30%;
	padding: 0 10px 90px 10px;
	color:var(--secundary-color)
   }
   #formacao h2{
	padding:0 0px 10px;
   }
   #formacao .imagen-cert {
	width: 85%;
	display:grid;
	
   }
   #formacao .imagen-cert:hover {
	width: 100%;
	display:grid;
	
   }
   /* fim formacao*/
   #contato h1{
	margin-top: 50%;
   }
   #contato .contato-item .icon{
	margin-top:70px;
   }
   #contato .form-group{
	margin-top: 20px;
   }
   #contato .contato-info h2{
	 margin-top:10px;
   }
}
